*{
    margin: 0;
    padding: 0;
    font-family:SFPRODISPLAYREGULAR, sans-serif;
    box-sizing: border-box;
}
html{
    scrollbar-width: thin;
    zoom: 100%;
}
html::-webkit-scrollbar{
    width: 2vh;

}
html::-webkit-scrollbar-thumb{
    background-color: #62626228;
    border-radius: 10px;
    height: 10px;
}
html::-webkit-scrollbar-track{
    background-color: #62626228;

}
@font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url(font/SFPRODISPLAYREGULAR.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYMEDIUM;
    src: url(font/SFPRODISPLAYMEDIUM.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url(font/SFPRODISPLAYBOLD.OTF);
  }
body{
    background: #ffffff;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}
a,p{
    font-family: SFPRODISPLAYMEDIUM;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 20px 2% 10px 1.5%;
    position: sticky;
    top:0;
    z-index: 5;
}
.logo{
    width: 150px;
    padding: 4px;
    margin-right: 16.5px;
  
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left h1{
    margin-left: 21%;
}
.nav-right {
    margin-right: 20px;
}
.nav-user-icon img{
    width: 31px;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 3px;
    
}
.notification-icon {
    border-radius: 8px;
    cursor: pointer;
    margin-right: 19px;
    padding: 7px 10px;
    background: #80808040;
    
}
.notification-icon:hover{
    filter: brightness(1.5);
}
.notification-icon img{
    width: 16px;
    opacity: 1;
    margin-top: 1px;
}
.nav-user-icon{
    margin-left: 20px;
}
.search-box{
    background: #bcbcbc40;
    width: 210PX;
    border-radius: 8px;
    display: flex;
    height: 34px;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 15px;
    opacity: .3;

}
.search-box input{
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;
    color: rgba(0, 0, 0, 0.479);
}
.search-box:hover{
    border: 3px solid #00000014;
    filter: brightness(1.2);
    
}
.search-box:onclick{
    border: 3px solid #409cff1d;
    filter: brightness(1.2);
    
}
.search-box:focus {
    border: 3px solid #409cff1d;
    filter: brightness(1.2);
}
::placeholder { 
    color: rgb(185, 185, 185);
    opacity: 1;
  }
.online{
    position:relative;
}
.vl{
  
    border-left: 2px solid rgba(204, 204, 204, 0.269);
    height: 1000px;
    position: fixed;
    margin-left: 14%;
    z-index: 6;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 3% 0px 2%;
}
.left-sidebar{
    flex-basis: 13%;
    position: sticky;
    top: 0px;
    height: 100%;
    align-self: flex-start;
    

}
.right-sidebar{
    flex-basis: 28%;
    position: static;
    top: 30px;
    align-self: flex-start;
    background: #fff;
    border-radius: 4px;
    padding: 15px 0px 15px 20px;
    color: #000000;
    border-top: 2px solid rgba(204, 204, 204, 0.269);


}
.main-sidebar{
    flex-basis: 60%;
    position: sticky;
    align-self: flex-start;
    background: #fff;
    border-radius: 4px;
    padding: 15px 1px 1px 1px;
    color: #626262;
    margin-left: 40px;
    border-top: 2px solid rgba(204, 204, 204, 0.269);

}
.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    width: fit-content;
    font-size: 12px;
    width: 142px;
    font-family:SFPRODISPLAYMEDIUM;
    padding: 10px 37px 10px 10px;
    margin-right: 20px;
    border-radius: 7px;

}
.imp-links-logout a{
    margin-top: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    width: fit-content;
    font-size: 12px;
    width: 142px;
    font-family:SFPRODISPLAYMEDIUM;
    padding: 10px 37px 10px 10px;
    margin-right: 20px;
    border-radius: 7px;
    color:  rgb(159, 159, 159);
    background: #ffffff;
}
.imp-links-logout a img{
    width: 11px;
    margin-right: 10px;
    margin-left: 5px;
}
.imp-links a img{
    width: 11px;
    margin-right: 10px;
    margin-left: 5px;
}
.imp-links .active {
    color: #ffffff;
    background: #409cff;

}
.inactive:hover .img1{
    content:url(image/menu.png) ;
    opacity: 1;
}
.inactive:hover .img2{
    content:url(image/smartphone-white.png) ;
    opacity: 1;

}.inactive:hover .img3{
    content:url(image/usb-white.png) ;
    opacity: 1;

}.inactive:hover .img4{
    content:url(image/headset-white.png) ;
    opacity: 1;

}.inactive:hover .img5{
    content:url(image/product-white.png) ;
    opacity: 1;

}
.imp-links .inactive {
    color:  rgb(152, 152, 152);
    background: #ffffff;

}
.imp-links .inactive:hover {
    color:  #ffffff;
    background: #409cff;

}

.imp-links .inactive img{
    opacity: .5;

}
.imp-links-logout .inactive img{
    opacity: .5;

}
.shortcut-links a img{
    width:25px;
    border-radius: 50%;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}
.right-body{
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.15) 10px 0px 30px;
    padding: 20px;
    border-radius: 7px;

}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;

}
.sidebar-title a{
    text-decoration: none;
    font-size: 11px;
    color: #1876f2;
   
}
.event{
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
}
.event:hover{
    filter: contrast(1.1);
    box-shadow: rgba(149, 157, 165, 0.1) 10px 0px 29px;
    size: 1.2;
    border-radius: 10px;
    transition: .3s;
}
.left-event{
    border-radius: 10px;
    height: 45px;
    width: 45px;
    position: relative;
    margin-right: 15px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 0 0 0px rgba(0, 0, 0,.1);
    background: #dfdfdf40;
    flex-basis: 21%;

}
.event:hover .left-event{
    background: #fff;
    transition: .5s;

}
.left-event img{
    width: 32px;
    align-items: center;
    margin-top: -7px;
}
.left-event img:hover{
    width: 31px;
    transition: .4s;
}
.event p{
    font-size: 9px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 50;
    opacity: .5;

}
.event a{
    font-size: 9px;
    text-decoration: none;
    color: #1876f2;
    
 
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.right-event{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%;
}
.right-event h4{
    flex-basis: 60%;
    font-size: 10.5px;
    
}
.right-event a{
    flex-basis: 40%;
    background: #dfdfdf40;
    padding:5px;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}
.right-event a:hover{
    background: #dfdfdf92;
}
.poster{
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.15) 14px 5px 30px;
    padding: 20px;
    border-radius: 7px;
    margin-top: 10px;

}
.poster-image img{
    width: 100%;
    border-radius: 10px;
}
.poster-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;

}
.poster-title h4{
    font-size: 13px;
}
.poster-title a{
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    background: #409cff;
    padding: 7px 13px;
    border-radius: 20px;
}
.banner{
    background: rgb(251,67,107);
    background: linear-gradient(119deg, rgba(251,67,107,1) 0%, rgba(196,94,206,1) 51%, rgba(112,108,234,1) 100%);
    padding: 10px ;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 19px;
    text-align: center;
}
.banner img{
    width: 10px;
    display: block;
    margin-left: auto;
}
.banner h3{
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    font-family: SFPRODISPLAYREGULAR;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: left;

}
.Joinprime-button{
    background: #fff;
    width: 90%;
    border-radius: 20px;
    padding:8px;
    text-align: center;
    margin-bottom: 8px;
    border: 0px;
    font-size: 10px;
}
.banner a{
    color: #000000;
    text-decoration: none;
}
.main-banner{
    width: 100%;
    

}
.view{
    height: 100%;

}
.view img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;


}
.banner-content{
    margin-top: -74px;
    padding: 20px;
    color: white;
    position: relative;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(5px);
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}

.banner-content h3{
    font-weight: 300;
    font-size: 16px;
    font-family: SFPRODISPLAYREGULAR;
    letter-spacing: .7px;

}
.banner-content a{
    text-decoration: none;
    font-size: 11px;
    color: #ffffff;
    background: #409cff;
    padding: 7PX 15px;
    margin-right: 10px;
    border-radius: 19px;
}
.banner-content p{
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 10;
    opacity: .6;
    font-family: SFPRODISPLAYREGULAR;
    letter-spacing: .8px;
}
.banner-content a:hover{
    filter: brightness(1.1);
}
.brand{
    display: flex;
    padding: 0px;
    align-items: center;
    text-align: center;

}
.brand-button{
    text-decoration: none;
    align-items: center;
    margin-bottom: 1%;
    width: fit-content;
    font-size: 12px;
    width: 20%;
    font-family:SFPRODISPLAYMEDIUM;
    padding: 10px 10px 10px 10px;
    margin-right: 2%;
    border-radius: 7px;
    margin-left: 0px;
    color: #0e0e0e;
    background: #dfdfdf40;
    
    
}
.brand-button img{
    width: 13px;
    margin-right: 7px;
}
.brand-button a{
    align-items: center;

}
.main-sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 1px 2px 2px 2px;

}
.main-sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
    color: #000000;

}
.main-sidebar-title a{
    text-decoration: none;
    font-size: 11px;
    color: #1876f2;
   
}
.product{
    padding: 12px 7px;
    text-align: center;

}
.row-product{
    display: flex;

}
.item-box{
    height: 20%;
    width: 20%;
    box-shadow: rgba(149, 157, 165, 0.071) 10px 0px 30px;
    border-radius: 8px;
    text-align: center;
    margin-right: 30px;

}
.item-image{
    background: #dfdfdf67;
    padding: 15px;
    align-items: center;
    border-radius: 8px;

}
.item-image img{
    width: 50px;
}
.item-details{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

}
.item-details h5{
    font-weight: 600;
    font-size: 10px;
    text-align: left;
    padding: 12px 7px 8px 7px;
    color: #000000;
}
.bottom-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6px;
}
.bottom-details p{
    flex-basis: 60%;
    font-size: 9px;

    
}
.bottom-details a{
    flex-basis: 40%;
    background: #dfdfdf40;
    padding:2px;
    align-items: center;
    border-radius: 9px;
    text-align: center;
    font-size: 8.5px;
    text-decoration: none;
    color: #409cff;
}
